<%- include("partials/header.ejs") %>

    <body>

        <div class="px-4 py-5 my-5 text-center">

            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Your Blog</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 border rounded">

                </p>
            </div>
        </div>
    </body>


    <%- include("partials/footer.ejs")%>